# TO_EMAIL - email address to send notifications to
TO_EMAIL=you@example.com

# GMAIL_USER - a Gmail address used to send the emails
GMAIL_USER=

# GMAIL_APP_PASSWORD - a Gmail App Password for GMAIL_USER
# (required since Google removed "Less Secure Apps" access)
GMAIL_APP_PASSWORD=
